@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body, html{
        text-align: center;
        color: #2c3e50;
        display: flex;
        height: 100%;
        min-height: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: #fcfcfc;
    }
    ul>li{
        list-style-type: none;
    }
    ul{
       margin: 0;
        padding: 0;
    }

.main-btn{
    background-color: #629cd1;
        /* border: 1px solid rgba(255, 255, 255, 0.1); */
        border:none;
        border-radius: 3px;
        color: #fff;
        font-weight: 800;
        padding: 8px 15px;
        /* margin-right: 10px; */
        font-size: 12px;
        text-transform: uppercase;
        z-index: 0;
        cursor: pointer;
        opacity: 1;
        transition: 0.3s  opacity;
}
.main-btn>svg,.select-section__btn-remove>svg,.select-section__btn-print>svg{
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
}
.main-title{
    text-align: center;
}
.main-content__header{
    display: flex;
}
.select-section__btn-remove,.select-section__btn-print{
      width: 35px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s  opacity;

}
.file-msg{
    padding: 0 5px;
    position: relative;
}
    .group-title::before{
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .group-title{
        color: #629cd1;
        font-size: 21px;
    }
    .group-card {
    height: 151px;
    position: relative;
    width: 22%;
    text-align: center;
    padding: 0;
    /* background-color: red; */
    margin: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
    transition: 0.3s  opacity;
    }
    .group-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        flex-wrap: wrap ;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .center {
        border-right: 1px solid #f2f2f2;
    }

    .drop-area {
        width: 98%;
        height: 82%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
    }

    .file-input {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
    }
     .drop-area.is-active {
        border: 10px dashed #629cd1 ;
    }
    .drop-area form{
        max-width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
    }
    .drop-area div{
        /* width: 100%;
        height: 100%; */
    }
    .tab-title {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        text-align: left;
        transition: color .5s;
    }


    .content-list__item.is-active {
        display: block; /* Показываем активную вкладку */
   }
/* здесь */
.tab-list__item:hover,.tab-list__item.is-active{
        border-left: 2px solid #629cd1;
        padding-left: 19px !important;
    }

    .tab-list__item.is-active{
        border-left: 2px solid #629cd1;
        padding-left: 19px;
    }
    .container-main {
        font-family: 'Roboto', sans-serif;
        height: 100%;
        width: 1200px;
        margin: 0 auto;
        margin-top: 10px;
        background-color: #fff;
        position: relative;
        display: flex;
        grid-template-columns: 1.7fr 6fr;
        grid-template-areas:
        "sidebar feed";

        box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.15)
    }
    .main-sidebar {
        width: 185px;
        box-shadow: 10px 10px 10px -15px rgba(0,0,0,0.3);
    }
    .tab-list__item{
        padding-left: 15px;
        /* border: 1px solid white; */
        padding-left: 20px;
        text-align: left;
        padding: 11px;
        cursor: pointer;
    }
    .tab-list__item,.tab-list__item a{
        font-weight: 500;
    }
    .main-content{
        padding: 20px 20px;
        width: 100%;
}
.pagination li{
    margin: 0 5px;
}

    .tab-content {
         position: absolute;
        /* border: 1px solid #666; */
        padding: 6px 20px;
        left: 0;
        width: calc(100% - 20px);
        max-width: 83%;
        top: 0;
        display: none;
        /* height: 247px; */
        transform: translateX(18%);
    }
    .arrow-icon{
        width: 30px;
        height: 30px;
    }

    /* Поиск */
    .serch-output{
     padding: 20px;
}
/* Группа */
.lable{
    font-weight: 700;
     padding-right: 10px;
}
.list{
    text-align: left;
}
.list__item{
    margin-bottom: 10px;
}

.select-list>.list__item{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-list>.list__item form{
    padding: 0 6px;
    font-size: 20px;
}
.select-btn{
    margin-right: 10px;
}

.pagination{
    padding-top: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.pagination__item a{
    padding: 10px;
    border:  1px solid #629cd1;
    transition: 0.3s  opacity;
}
.pagination__item a:hover,.main-btn:hover,.group-title:hover,.select-section__btn-print:hover,.select-section__btn-remove:hover{
    opacity: 0.5;
}
.pagination__item svg{
    height: 17px;
    width: 17px;
    vertical-align: middle;
}
