@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    body, html{
        text-align: center;
        color: #2c3e50;
        display: flex;
        height: 100%;
        min-height: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: #fcfcfc;
    }
    ul>li{
        list-style-type: none;
    }
    ul{
       margin: 0;
        padding: 0;
    }

.main-btn{
    background-color: transparent;
    border:none;
    height: 23px;
    width: 30px;
    padding: 5px;
    color:  #629cd1;
    cursor: pointer;
}
.main-btn>svg{
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
}
.main-title{
    text-align: center;
}
    .main-content__header{
    display: flex;
}
    .group-title::before{
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .group-card {
    height: 151px;
    position: relative;
    width: 22%;
    text-align: center;
    padding: 0;
    /* background-color: red; */
    margin: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
    }
    .group-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        flex-wrap: wrap ;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .center {
        border-right: 1px solid #f2f2f2;
    }


    .tab-title {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;

        text-align: left;
        transition: color .5s;

    }


    .content-list__item.is-active {
        display: block; /* Показываем активную вкладку */
   }
/* здесь */
    .main-sidebar  .div:hover,.tab-btn.is-active{
        border-left: 2px solid #629cd1;
        padding-left: 19px !important;
    }

    .tab-btn.is-active{
        border-left: 2px solid #629cd1;
        padding-left: 19px;
    }
    .container-main {
        font-family: 'Roboto', sans-serif;
        height: 100%;
        width: 1200px;
        margin: 0 auto;
        margin-top: 10px;
        background-color: #fff;
        position: relative;
        display: flex;
        grid-template-columns: 1.7fr 6fr;
        grid-template-areas:
        "sidebar feed";

        box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.15)
    }
    .main-sidebar {
        width: 185px;
        box-shadow: 10px 10px 10px -15px rgba(0,0,0,0.3);
    }
    .main-sidebar .div {
        padding-left: 15px;
        /* border: 1px solid white; */
        padding-left: 20px;
        text-align: left;
        padding: 11px;
    }
    /* .content{
     padding: 6px 20px;
    } */
    /* здесь */
    .main-content{
        padding: 20px 20px;
        width: 100%;
}


    .tab-content {
         position: absolute;
        /* border: 1px solid #666; */
        padding: 6px 20px;
        left: 0;
        width: calc(100% - 20px);
        max-width: 83%;
        top: 0;
        display: none;
        /* height: 247px; */
        transform: translateX(18%);
    }
    .arrow-icon{
        width: 30px;
        height: 30px;
    }
    .main-feed .grouppy .title_group h3 {
        padding-left: 20px;
    }
    .hr {
        height: .5px;
        margin-right: 10px;
        border: 0;
        background-color: #f2f2f2;
    }

    /* Поиск */
    .serch-output{
     padding: 20px;
}
/* Группа */
.lable{
    font-weight: 700;
     padding-right: 10px;
}
.list{
    text-align: left;
}
.list__item{
    margin-bottom: 10px;
}

.select-list>.list__item{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-list>.list__item form{
    padding: 0 6px;
    font-size: 20px;
}
.select-btn{
    margin-right: 10px;
}
.select-section__btn-remove{
    width: 82px;
}
.pagination{
    padding-top: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.pagination__item a{
    padding: 10px;
    border:  1px solid #629cd1;
    transition: 0.3s  opacity;
}
.pagination__item a:hover{
    opacity: 0.5;
}
.pagination__item svg{
    height: 17px;
    width: 17px;
    vertical-align: middle;
}
